@page "/CertificadosdePeliculas"
@using segundoexamenparcial.Modelo;
@using segundoexamenparcial.Servicios;
@using segundoexamenparcial.Data;
@inject ServicioCertificadodP serv

<h3>Informacion de los Actores</h3>

<NavLink class="nav-link" href="AgregarCertificado">
    <span class="oi oi-plus">Agregar Nuevo</span>
</NavLink>

<label>Buscar por Titulo:</label>
<input type="text" @oninput="@( (e) => Filtro(e) )">


@if(obj is null) {
    <p>Cargando ...</p>
} else {
    <table class="table">
        <thead>
            <th>Certificado Id</th>
            <th>Descripcion</th>

        </thead>
    
    <tbody>
        @foreach (var i in obj)
        {
            <tr>
                <td>@i.CertificadoId</td>
                <td>@i.Descripcion</td>
                <td>
                    <a class="nav-link" href="EditarActores/@i.CertificadoId">
                        <span class="oi oi-pencil">Editar</span>
                    </a>
                     <a class="nav-link" href="EliminarActores/@i.CertificadoId">
                        <span class="oi oi-pencil">Eliminar</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}

@code {
    List<CertificadosdePeliculas> obj;
 
    protected override void OnInitialized() {
        obj = serv.ObtenerTodo("");
    }

    protected void Filtro(ChangeEventArgs e) {
        string cadenabuscar = e.Value.ToString();
        obj = serv.ObtenerTodo(cadenabuscar);
    }
}